*.DS_Store

!practicals/*.md
!practicals/*.yaml

slides
!slides/*.md
!slides/Makefile

slides/img
!slides/img/*.png
!slides/img/*.svg

data/
assemblies/
completeness/
pangenome/
*.sif
*.gz
*.tbi
*.fa
